@model IEnumerable<HotelData.Entity.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<p>

            <a asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBreakfastIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAllInclusive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBreakfastIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAllInclusive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @{
                    if (int.Parse(TempData.Peek("userID").ToString()) == int.Parse(Hotel_Reservations_Manager.Properties.Resources.AdminId))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><p></p>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a><p></p>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
